.mainBox{
  text-align: center;
  padding: 40px;
}

.calculator{
  text-align: center;
  border: 1px solid gray;
  padding: 40px 20px ;
  display: inline-block;
  background: #a1a1a1
}

.calculator input{
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;
}

.buttons button{
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}